.text-banner{/*mudando a cor dos textos!*/
    color: cyan;
    text-align: center;
}
.text2{
    color: white;
    text-align: center;
}
.text3{
    color: cyan;
    text-align: center;
}
body{ /*mudando a cor do body!*/
    background-color: pink;
} 
.div1{
    height: 100vh;
    background-color: white;
    width: 100vw;
    margin: auto;
    justify-content: center;
    
    
}
.image1{
 margin:auto;
 
}